@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --clr-primary: 42 64% 89%;
    --clr-secondary: 42 45% 85%;
    --clr-tertiary: 41 64% 51%;
    --clr-light: 60 40% 96%;
    --clr-dark: 0 0% 10%;

    --ff-sans: 'Poppins', sans-serif;
    --ff-serif: 'Playfair Display', serif;

    --fs-700: 2rem;
    --fs-600: 1.75rem;
    --fs-500: 1.5rem;
    --fs-400: 1.25rem;
    --fs-300: 1rem;
    --fs-200: 1rem;

    --fw-900: 900;
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

    --letter-spacing-1: 0.1em;
    --letter-spacing-2: 0.075em;
    --letter-spacing-3: 0.05em;
    --letter-spacing-4: 0.025em;

    --nav-padding: 2em;

    --nav-link-padding-block: .3em;
    --nav-link-padding-inline: 1em;

    --btn-padding-block: .75em;
    --btn-padding-inline: 1.5em;

    --section-margin-block: 6rem;

    --footer-padding-block: 6rem;
}

@media (min-width: 48em) {
    :root {
        --fs-700: 2.5rem;
        --fs-600: 2rem;
        --fs-500: 1.75rem;
        --fs-400: 1.5rem;
        --fs-300: 1.25rem;
    }
}

@media (min-width: 64em) {
    :root {
        --fs-800: 23.75rem;
        --fs-700: 3.75rem;
        --fs-600: 2.5rem;
        --fs-500: 2rem;
        --fs-400: 1.75rem;
        --fs-300: 1.5rem;
        --fs-200: 1.25rem;
    }
}

/* ----------------- */
/*       Reset       */
/* ----------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
    font-weight: 400;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

button {
    padding: 0;
    background: none;
    border: 0;
}

a {
    color: unset;
    text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ----------------- */
/*      Globals      */
/* ----------------- */

body {
    background-color: hsl( var(--clr-primary) );
    color: hsl( var(--clr-dark) );
    font-family: var(--ff-sans);
    overflow-x: hidden;
}

h1,
h2 {
    font-weight: var(--fw-600);
    line-height: 1.1;
    letter-spacing: var(--letter-spacing-3);
}

h1 {
    font-size: var(--fs-700);
}

h2 { font-size: var(--fs-600); }

p { max-width: 65ch; }

button,
a,
div[role="button"] { cursor: pointer; }

:focus { outline: 1px solid hsl( var(--clr-dark) ); } 

/*
    1. General stylings
    1.1 Primary Header
    1.2 Mobile Navigation Toggle
    1.3 Primary Navigation
    1.4 Footer
    1.5 Modal
    1.6 Call-to-Action Buttons and Close Button
    1.7 Hover State for Interactive Elements
*/

/* 1.1 Primary Header */
.scroll-down .primary-header { transform: translateY(-100%); }

.primary-header {
    position: fixed;
    inset-inline: 0;
    z-index: 400;
    transition: .5s ease-in-out;
}

.primary-header__container {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo { width: 100px; }

@media (min-width: 48em) {
    .logo { width: 150px; }
}

@media (min-width: 64em) {
    .logo { width: 200px; }
}

/* 1.2 Mobile Navigation Toggle */
.nav-toggle-container {
    display: grid;
    place-items: center end;
    position: relative;
    z-index: 300;
    width: 30px;
    height: calc(1rem + 3px * 3);
    cursor: pointer;
}

.nav-toggle { 
    position: relative; 
    width: 17px;
}

.nav-toggle::before,
.nav-toggle::after {
    content: '';
    position: absolute;
    inset-inline-end: 0;
}

.nav-toggle::before { 
    inset-block-start: -0.5rem; 
    width: 28px;
}

.nav-toggle::after { 
    inset-block-end: -0.5rem; 
    width: 28px;
}

.nav-toggle,
.nav-toggle::before,
.nav-toggle::after {
    height: 2px;
    background-color: hsl( var(--clr-dark) );
    border: 0;
    border-radius: 1.25rem;
    transition: 600ms cubic-bezier(.78,-0.37,.22,1.34);
}

.nav-toggle.inverse,
.nav-toggle.inverse::before,
.nav-toggle.inverse::after {
    background-color: hsl( var(--clr-primary) );
}

/* navigation toggle transition */
.nav-toggle[aria-pressed="true"]::before { opacity: 0; }

.nav-toggle[aria-pressed="true"],
.nav-toggle[aria-pressed="true"]::after { 
    width: 28px;
    background-color: hsl( var(--clr-primary) ); 
}

.nav-toggle[aria-pressed="true"] { transform: rotate(45deg); }

.nav-toggle[aria-pressed="true"]::after { 
    transform: rotate(-90deg) translateX(0.5rem); 
}

@media (min-width: 48em) {
    .nav-toggle-container { display: none; }
}

/* 1.3 Primary Navigation */
.primary-navigation__list { --gap: 2em; }

@media (max-width: 47.99em) {
    .primary-navigation {
        position: fixed;
        inset: 0;
        background-color: hsl( var(--clr-dark) );
        color: hsl( var(--clr-primary) );
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform 300ms cubic-bezier(0.45, 0.05, 0.55, 0.95);
    }

    .primary-navigation[data-visible="true"] { transform: translateX(0); }

    .primary-navigation__list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding-block-end: calc(var(--nav-padding) + 24px);
        font-size: 1.75rem;
    }

    .primary-navigation__links { 
        justify-content: space-between;
        padding-inline: calc(var(--nav-padding) + 24px); 
    }
}

@media (min-width: 48em) {
    .primary-navigation__list {
        justify-content: flex-end;
        position: relative;
        width: max-content;
    }

    .primary-navigation__links {
        padding: var(--nav-link-padding-block) var(--nav-link-padding-inline);
        border-radius: 5px;
        transition: background-color 250ms ease-in-out;
    }

    .primary-navigation__links:hover,
    .primary-navigation__links:focus,
    .active {
        background-color: hsl( var(--clr-dark) );
        color: hsl( var(--clr-primary) );
    }

    .primary-navigation[data-inverse-state="inverse"] {
        color: hsl( var(--clr-primary) );
    }

    .primary-navigation[data-inverse-state="inverse"] .primary-navigation__links:hover,
    .primary-navigation[data-inverse-state="inverse"] .primary-navigation__links:focus,
    .primary-navigation[data-inverse-state="inverse"] .active {
        background-color: hsl( var(--clr-primary) );
        color: hsl( var(--clr-dark) );
    }
}

/* 1.4 Footer */
@media (max-width: 47.99em) {
    /* .footer { margin-block-start: 5rem; } */
}

.footer { padding-block: var(--footer-padding-block); }

.footer__container { justify-items: center;}

.footer__content { 
    justify-items: center; 
    text-align: center;
}

.footer__content > * { width: 100%; }

.footer__upper-nav,
.footer__lower,
.footer__lower-nav { flex-direction: column; }

.footer__lower-nav { margin-block-end: 2rem; }

.footer__middle {
    place-items: end center;
    width: 36px;
}

.footer__lower { 
    position: relative; 
    margin-block-start: 1.25rem;
    font-size: 0.75em;
}

.footer__lower::before {
    content: '';
    position: absolute;
    inset-block-start: -1.5rem;
    inset-inline: 0;
    border-top: 1px solid hsl( var(--clr-dark) );
}

@media (min-width: 48em) {
    .footer__upper-nav { --gap: 3rem; }

    .footer__upper-nav,
    .footer__lower,
    .footer__lower-nav { flex-direction: row; }

    .footer__lower { justify-content: space-between; }

    .footer__lower-nav { margin-block-end: 0; }
}

@media (min-width: 64em) {
    .footer__container { grid-template-columns: repeat(3, 1fr); }

    .footer__logo { place-self: center start; }

    .footer__content { place-self: center; }
}

/* 1.5 Modal */
.modal {
    width: min(80%, 1200px);
    background-color: hsl( var(--clr-dark) );
    border: 0;
    border-radius: 5px;
    color: hsl( var(--clr-light) );
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.modal::backdrop {
    background-color: #1a1a1a;
    opacity: .75;
}

.modal__container { 
    --gap: 1rem;
    align-items: center; 
    position: relative;
    width: 100%;
    height: 100%;
    padding-block: 2.625rem;
}

@media (max-width: 47.99em) {
    .modal {
        width: 100%;
        height: 100%;
        min-width: 100vw;
        min-height: 100vh;
    }

    .modal__container { --gap: 3rem; }
}

/* 1.6 Call-to-Action Buttons and Close Button */
.btn {
    place-self: center;
    padding: var(--btn-padding-block) var(--btn-padding-inline);
    border: 2px solid hsl( var(--clr-dark) );
    border-radius: 5px;
    transition: 250ms ease-in-out;
}

.btn:hover,
.btn:focus-within { 
    outline: 0;
    background-color: hsl( var(--clr-dark) );
    color:hsl( var(--clr-primary) ); 
}

@media (min-width: 64em) {
    .btn[data-align="start"] { place-self: start; }
}

.close-btn-container {
    place-content: center;
    place-self: start end;
    position: absolute;
    z-index: 1;
    width: 32px;
    aspect-ratio: 1;
    padding: 1.25rem;
    border: 2px solid hsl( var(--clr-light) );
    border-radius: 5px;
}

.close-btn {
    position: relative;
    width: 20px;
    transform: rotate(45deg);
}

.close-btn,
.close-btn::after {
    height: 2px;
    background-color: hsl( var(--clr-light) );
    border-radius: 5px;
}

.close-btn::after {
    content: '';
    position: absolute;
    inset-inline: 0;
    transform: rotate(-90deg);
}

/* 1.7 Hover State for Interactive Elements */
.hover-state {
    position: relative;
    z-index: 1;
    aspect-ratio: 1;
    cursor: pointer;
}

.hover-state::before,
.hover-state::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
}

.hover-state::before {
    inset: 0;
    outline: 2px solid hsl( var(--clr-dark) ); 
    transition: outline 50ms ease;
}

.hover-state::after {
    inset: -1px;
    background-color: hsl( var(--clr-tertiary) );
    transform: scale(0);
    transition: transform 250ms ease;
}

.hover-state:hover::before,
.hover-state:focus::before { outline: 0; }

.hover-state:hover::after,
.hover-state:focus::after { transform: scale(1); }

/* Banner */
.banner {
    place-items: center;
    position: relative;
    height: 740px;
}

.banner__content {
    position: absolute;
    z-index: 1;
}

/* TODO */
.banner__title {
    padding-inline-start: .375em;
    color: transparent;
    -webkit-text-stroke: 1px hsl( var(--clr-primary) );
    font-size: clamp(40px, 10vw + 1rem, 120px);
    font-weight: 400;
    font-style: italic;
    letter-spacing: .375em;
}

.banner__img-container {
    width: 100vw;
    height: inherit;
}

@media (min-width: 64em) {
    .banner__title { letter-spacing: .6em; }
}

/* Home Page */
/* Hero */
.hero {
    place-items: center;
    position: relative;
    /*inset-block-start: 3.75rem;  Push content down (height of primary__header) to stop content overlapping */
    width: 100%;
    height: 100vh;
    padding-block: 5.5rem;
}

.hero__content {
    --gap: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__img-container {
    place-items: center;
    position: relative;
}

@media (max-width: 63.99em) {
    .hero__img {
        max-width: 80%;
    }
}

.hero__circle { 
    position: absolute;
    z-index: -1;
}

@media (min-width: 48em) {
    .hero__content { width: 75%; }
}

@media (min-width: 64em) {
    .hero { grid-template-columns: repeat(2, 1fr); }

    .hero__content {
        align-items: flex-start;
        width: 100%;
        text-align: start;
    }
}

/* Sections */
.section { 
    align-items: center;
    position: relative;
}

.watermark { display: none; }

@media (min-width: 64em) {
    .watermark { 
        display: block;
        place-self: start center;
        position: absolute;
        z-index: -1;
        font-size: var(--fs-800);
        font-weight: 900;
        line-height: 0.7;
        opacity: .04;
    }
}

.section__content { 
    place-items: center;
    width: 100%;
    padding-block: 1rem;
}

.section__title { 
    justify-self: center; 
    text-align: center;
}

@media (min-width: 64em) {
    .section__content--projects { padding-block: 5rem; }

    .section__content[data-approach-content] { 
        grid-auto-flow: column; 
        place-items: center start;
    }

    .section__title { 
        justify-self: start; 
        text-align: start;
    }
}

@media (min-width: 121em) {
    .section__content--home { position: relative; }
}

.section__carousel-container { 
    place-items: center;
    position: relative;
    width: 100%;
    padding-block: 3rem;
    /* background-color: hsl( var(--clr-secondary) ); */
    overflow: hidden;
    /* box-shadow: 0 0 0 100vmax hsl( var(--clr-secondary) ); */
    /* clip-path: inset(0 -100vmax); */
}

.section__carousel {
    --gap: 3rem;
    --items-in-view: 1.25;
    width: calc(100% / var(--items-in-view));
    min-height: 100%;
    transform: translateX(0);
    transition: transform 1s cubic-bezier(.58,.01,.17,1);
}

.section__carousel-item {
    place-items: center;
    flex: 0 0 100%;
}

@media (min-width: 48em) {
    .section__carousel { --items-in-view: 3.25; }

    .current-item { transform: scale(1.15); }
}

.carousel-indicator-container,
.carousel-btn-container {
    --gap: 0;
    align-items: center;
    justify-content: space-between;
    width: clamp(100px, 16vw + 1rem, 200px)
}

.carousel-indicator { 
    width: clamp(10px, 2vw, 18px);
    aspect-ratio: 1;
    background-color: hsl( var(--clr-dark) / .25 );
    border-radius: 50%;
    cursor: pointer;
}

.current-indicator { background-color: hsl( var(--clr-tertiary) ); }

.carousel-btn,
.tab { 
    place-items: center;
    width: clamp(40px, 6vw + 1rem, 75px);
    border-radius: 50%;
}

.carousel-btn:focus,
.tab:focus { outline: 0; }

@media (max-width: 63.99em) {
    .carousel-btn img { height: 80%; }
}

.tab-content { 
    display: none;
    text-align: center;
}

.current-tab-content { 
    display: grid; 
    gap: 3rem;
}

.tab[aria-selected="true"] { background-color: hsl( var(--clr-tertiary) ); }

.tab[aria-selected="true"]::before { outline: 0 !important; }

.tab-content > p { max-width: 45ch; }

.video-container { display: none; }

@media (min-width: 64em) {
    .video-container { 
        display: block; 
        position: absolute; 
        inset-inline-end: 0;      
        z-index: -1;
        width: 40%;
        height: 70%;
    }
}

@media (min-width: 75em) {
    .video-container { width: 50%; }
}

.tab-list { 
    --gap: 1rem;
    justify-content: space-evenly; 
}

@media (min-width: 48em) {
    .tab-list { 
        --gap: 3rem; 
        justify-content: center;
    }
}

@media (min-width: 64em) {
    .tab-content { text-align: start; }

    .tab-list { justify-content: flex-start; }
}

.section__card-container {
    --gap: 3rem;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.section__card { 
    --gap: 1.75rem;
    justify-items: center;
    max-width: 30ch;
    text-align: center;
}

.section__card > div > * { margin-block-end: .5rem; }

.section__card > div > img { 
    margin-inline: auto;
    height: 72px; 
}

.section__card-text { line-height: 1.6; }

@media (min-width: 45em) {
    .section__card { align-self: stretch; }

    .section__card > a,
    .section__card > button { 
        align-self: end;
        height: 24px; 
    }
}

@media (min-width: 64em) {
    .section__card-container { justify-content: space-between; }

    .section__card {  
        justify-items: start;
        text-align: start;
    }

    .section__card > div > img { 
        margin-inline: 0;
        height: 72px; 
    }
}

/* delivery modal */
.modal__content { 
    place-items: center;
    margin-block: .5rem;
    text-align: center;
}

@media (max-width: 47.99em) {
    .modal__delivery-type { margin-inline: auto; }
}

.modal__delivery-type {
    position: relative;
    width: max-content;
}

.modal__delivery-type::after {
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    border-bottom: 2px solid hsl( var(--clr-tertiary) );
}

.modal__icon { justify-content: center; }

.modal__icon img {
    width: 100px;
    aspect-ratio: 1;
}

.modal__text { line-height: 1.6; }

@media (min-width: 48em) {
    .modal__content {
        grid-auto-flow: column;
        align-items: start;
        text-align: start;
    }

    .modal__content > * { width: 90%; }

    .modal__icon { justify-content: flex-start; }
}

/* projects page */
.category-select-container {
    position: relative;
    width: 100%;
    margin-block: 1rem 3rem;
    border: 2px solid hsl( var(--clr-dark) );
    border-radius: 5px;
}

.category-select {
    width: 100%;
    padding: .5em .75em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    appearance: none;
}

.dropdown-arrow {
    position: absolute;
    inset-block-start: 50%;
    inset-inline-end: 1rem;
    transform: translateY(-50%);
    pointer-events: none;
}

.projects-grid { grid-auto-rows: 1fr; }

@media (min-width: 48em) {
    .category-select-container {
         width: min(calc(50% - 1.5rem), 430px); 
         margin-block-end: 3rem;
    }

    .projects-grid { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 64em) {
    .projects-grid { 
        --gap: 5rem; 
        grid-template-columns: repeat(3, 1fr); 
    }
}

.project-container {
    position: relative;
    z-index: 99;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 64em) {
    .project-container {
        transition: all 600ms cubic-bezier(.46,.03,.52,.96);
    }
}

.project-container .close-btn-container {
    position: absolute;
    inset-inline-end: 0;
    margin: 1rem;
    z-index: 101;
    opacity: 0;
    transition: opacity 1s cubic-bezier(.8,.01,.19,.98);
}

.project-image { 
    height: 100%; 
    border-radius: 5px;
    overflow: hidden;
}

/* 
    project modal
    mobile/tablet image expand 
*/
@media (max-width: 67.5em) {
    .modal__project-image {
        place-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        min-width: 100vw;
        min-height: 100vh;
        margin-inline-start: 50%;
        transform: translateX(-50%);
    }

    .modal__project-image img {
        width: 100%;
        height: 100%;
        margin-inline: auto;
        object-fit: contain;
    }
}

/* desktop image expand */
@media (min-width: 67.51em) {
    .enlarge {
        z-index: 100;
        transform: scale(1.75);
        box-shadow: 0px 0px 18px 0px hsl( var(--clr-dark) / .6 );
    }

    .enlarge .close-btn-container { 
        opacity: 1; 
        transform: scale(1);
    }
}

/* process page */
.section[data-background="secondary"] { background-color: hsl( var(--clr-secondary) ); }

.section__content--approach {
    max-height: 100vh;
    padding-block: 3rem;
}

.section-approach__images-container { 
    position: relative; 
    width: 100%;
}

.section-approach__svg-container {
    position: absolute;
    z-index: 40;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 47.99em) {
    .section-approach__svg-container {
        justify-self: end;
        inset-block-end: 0;
        height: 150px;
        text-align: end;
        transform: translateY(75px);
    }
}

@media (max-width: 63.99em) {
    .section-approach__image {
        min-width: 100vw;
        aspect-ratio: 2 / 1;
        margin-inline: calc(50% - 50vw);
    }
}

.section-approach__content {
    flex-direction: column;
}

.svg {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    fill: transparent;
    stroke: hsl( var(--clr-dark) );
    stroke-width: 2.5;
}

.selection.svg { width: 75%; }

.animate-svg .clr-primary > * {
    animation: dashOffset 2s ease forwards,
               fillColourPrimary 500ms 2s ease forwards;
}

.animate-svg .clr-secondary > * {
    animation: dashOffset 2s ease forwards,
               fillColourSecondary 500ms 2s ease forwards;
}

.animate-svg .clr-tertiary > * {
    animation: dashOffset 2s ease forwards,
               fillColourTertiary 500ms 2s ease forwards;
}

.animate-svg .clr-dark > * {
    animation: dashOffset 2s ease forwards,
               fillColourDark 500ms 2s ease forwards;
}

@keyframes dashOffset {
    to { stroke-dashoffset: 0; }
}

@keyframes fillColourPrimary {
    to { fill: hsl( var(--clr-primary) ); }
}

@keyframes fillColourSecondary {
    to { fill: hsl( var(--clr-secondary) ); }
}

@keyframes fillColourTertiary {
    to { fill: hsl( var(--clr-tertiary) ); }
}

@keyframes fillColourDark {
    to { fill: hsl( var(--clr-dark) ); }
}

.section-approach__heading > * { 
    font-size: var(--fs-700); 
    font-weight: var(--fw-600);
}

.section-approach__text { font-size: var(--fs-300); }

@media (min-width: 48em) {
    .section-approach__images-container {
        grid-auto-flow: column;
        align-items: center;
    }

    .section-approach__svg-container { height: 175px; }

    .section-approach__svg-container.even { text-align: end; }

    .section:nth-of-type(1) .section-approach__image { clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 50% 100%); }
    .section:nth-of-type(2) .section-approach__image { clip-path: polygon(0% 0%, 75% 0%, 50% 100%, 0% 100%); }
    .section:nth-of-type(3) .section-approach__image { clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 25% 100%); }
    .section:nth-of-type(4) .section-approach__image { clip-path: polygon(0% 0%, 75% 0%, 50% 100%, 0% 100%); }
}

@media (min-width: 64em) {
    .section__content--approach {
        grid-auto-flow: column;
        align-items: center;
        height: 100vh;
    }

    .section-approach__images-container { align-self: stretch; }

    .section-approach__images-container[data-order="1"] { grid-column: 2 / 3; }

    .section-approach__svg-container { height: 225px; }

    .section-approach__content { --gap: 5rem; }

    .section-approach__heading {
        padding-inline-start: 2.5rem;
        border-inline-start: 7px solid hsl( var(--clr-dark) );
    }

    .section-approach__content[data-alignment="end"] > * { text-align: end; }

    .section-approach__content[data-alignment="end"] > .section-approach__heading { 
        padding-inline-end: 2.5rem; 
        border-inline-start: 0;
        border-inline-end: 6px solid hsl( var(--clr-dark) );
    }

    .section:nth-of-type(1) .section-approach__image { clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 25% 100%);  }
    .section:nth-of-type(2) .section-approach__image { clip-path: polygon(0% 0%, 75% 0%, 100% 100%, 0% 100%); }
    .section:nth-of-type(3) .section-approach__image { clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%); }
    .section:nth-of-type(4) .section-approach__image { clip-path: polygon(0% 0%, 100% 0%, 75% 100%, 0% 100%); }

    .section-approach__text { max-width: 45ch; }
}

/* contact page */
.sections-wrapper { 
    --gap: 0;
    flex-direction: column; 
}

.section__content--contact { 
    --gap: 3rem;
    padding: 3rem !important; 
}

.section__contact-container { text-align: center; }

.section__contact-title span { position: relative; }

.section__contact-title span::after {
    content: '';
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    height: 2px;
    background-color: hsl( var(--clr-tertiary) );
}

.section__form input,
.section__form textarea { 
    width: 100%; 
    padding-block: .25rem;
    background-color: transparent;
    border: 2px solid hsl( var(--clr-dark) );
    border-radius: 5px;
}

.section__form input:focus,
.section__form textarea:focus {
    border: 2px solid hsl( var(--clr-tertiary) );
    outline: 0;
}

textarea { resize: none; }

.submit-btn { 
    width: 100%; 
    background-color: hsl( var(--clr-dark) );
    border: 0;
    color: hsl( var(--clr-primary) );
    letter-spacing: var(--letter-spacing-1);
}

.submit-btn:hover,
.submit-btn:focus { 
    background-color: hsl( var(--clr-tertiary) );
    color: hsl( var(--clr-dark) );
}

@media (min-width: 64em) {
    .sections-wrapper { 
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding-block: 7.5rem;
    }

    .section__content--contact { 
        justify-items: center; 
        min-width: 32.5em;
    }

    .section__contact-container { 
        width: 50%;
        text-align: start; 
    }

    .section__contact-title[data-form-title] { justify-self: start; }
}

/* ----------------- */
/*     Utilities     */
/* ----------------- */

/* layout */
.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 3rem);
}

.container {
    max-width: 92.75rem;
    padding-inline: 1rem;
    margin-inline: auto;
}

.full-width {
    width: 100vw;
    margin-inline-start: 50%;
    transform: translateX(calc(-50% - 2.5rem));
}

.fitscreen { min-height: 100vh; }

.obj-fit img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
}

.skip-to-content {
    position: absolute;
    z-index: 9999;
    background: hsl( var(--clr-white) );
    padding: .5em 1em;
    margin-inline: auto;
    color: hsl( var(--clr-dark) );
    transform: translateY(-100%);
    transition: transform 250ms ease-in;
}

.skip-to-content:focus { transform: translateY(0); }

/* spacing */
.flow > *:where(:not(:last-child)) { margin-block-end: var(--flow, 1em); }

/* background/font colors */
.bg-light { background-color: hsl( var(--clr-light) ); }
.bg-dark { background-color: hsl( var(--clr-dark) ); }
.bg-primary { background-color: hsl( var(--clr-primary) ); }
.bg-secondary { background-color: hsl( var(--clr-secondary) ); }
.bg-tertiary { background-color: hsl( var(--clr-tertiary) ); }

.text-light { color: hsl( var(--clr-light) ); }
.text-dark { color: hsl( var(--clr-dark) ); }
.text-primary { color: hsl( var(--clr-primary) ); }
.text-secondary { color: hsl( var(--clr-secondary) ); }
.text-tertiary { color: hsl( var(--clr-tertiary) ); }

/* typography */
.ff-sans { font-family: var(--ff-sans); }
.ff-serif { font-family: var(--ff-serif); }

.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fw-900 { font-weight: var(--fw-900); }
.fw-700 { font-weight: var(--fw-700); }
.fw-600 { font-weight: var(--fw-600); }
.fw-500 { font-weight: var(--fw-500); }

.letter-spacing-1 { letter-spacing: var(--letter-spacing-1); }
.letter-spacing-2 { letter-spacing: var(--letter-spacing-2); }
.letter-spacing-3 { letter-spacing: var(--letter-spacing-3); }
.letter-spacing-4 { letter-spacing: var(--letter-spacing-4); }

.uppercase { text-transform: uppercase; }

/* decorative */
.overlay-dark { 
    --transparency: .3;
    position: relative; 
}
.overlay-dark::after {
    content: '';
    position: absolute;
    inset: 0;
    background-color: hsl( var(--clr-dark) / var(--transparency) );
}

.underline {
    display: grid;
    position: relative;
}

.underline::after {
    content: '';
    justify-self: center;
    position: absolute;
    inset-block-end: -0.25rem;
    width: clamp(75px, 6vw + 1rem, 150px);
    height: 3px;
    background-color: hsl( var(--clr-tertiary) );
    border-radius: 100px;
}

@media (min-width: 48em) {
    .underline::after { height: 4px; }
}

@media (min-width: 64em) {
    .underline::after { 
        justify-self: start;
        height: 6px; 
    }
}